<ion-content class="blanco">
  
  <div class="centrado">
    <img src="../assets/icon/icono_inicio.png" class= icono/>
    <ion-item class="nombreusuario" class="blanco">
        <ion-label position="floating">Usuario</ion-label>
        <ion-input [(ngModel)]=user type="email" autofocus="false"></ion-input>
      </ion-item>
      
      <ion-item class="contrasena" class="blanco">
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input [(ngModel)]=password type="password"></ion-input>
      </ion-item>

      <div class="boton_centrado">
        <ion-button class="ingresar" expand="block" (click)="ingresar()">INGRESAR</ion-button>
      </div>
  </div>

</ion-content>

