.titulo
{
    text-align: center;
    padding-top: 4%;
}
.nombreusuario
{
    padding-top: 20%;
    padding-left: 10%;
    padding-right: 10%;

}
.contrasena
{
    padding-left: 10%;
    padding-right: 10%;
}
.ingresar
{
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
}