<ion-content>
  
  <div class="centrado">
    <ion-item class="nombreusuario">
        <ion-label position="floating">Nombre de usuario</ion-label>
        <ion-input [(ngModel)]=user></ion-input>
      </ion-item>
      
      <ion-item class="contrasena">
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input [(ngModel)]=password type="password"></ion-input>
      </ion-item>

      <div class="boton_centrado">
        <ion-button class="ingresar" (click)="ingresar()">Ingresar</ion-button>
      </div>

  </div>

  <img src="../assets/icon/icono.png" class= icono/>



</ion-content>

