.boton_fondo
{
    margin-top: 3%;
    width: 90%; 
    height: 130px; 
    text-align: center;
}

.boton
{
    margin-top: 10%;
    width: 90%; 
    height: 130px; 
    text-align: center;
}

.centrado
{
    text-align: center;
    margin-top: 5%;
}


.header
{
    font-weight: bold;
    text-align: center;
}

.luz
{
    color: rgb(255, 241, 137);
    --bar-background-active: rgb(255, 241, 137);
}

.aire
{
    color: rgb(168, 232, 255);
    --bar-background-active: rgb(168, 232, 255);
}

.cortina_texto
{
    font-weight: bold;
    margin-bottom: 10%;
    font-size: 150%;
}

.texto
{
    font-weight: bold;
    font-size: 150%;
}

.boton_cortina
{
    --indicator-color: rgb(200, 162, 233);
}


