.boton_fondo
{
    margin-top: 3%;
    width: 90%; 
    height: 130px; 
    text-align: center;
    --background-hover: var(--background);
}

.boton
{
    margin-top: 10%;
    width: 90%; 
    height: 130px; 
    text-align: center;
    --background-hover: var(--background);
}

.centrado
{
    text-align: center;
    margin-top: 5%;
}


.header
{
    font-weight: bold;
    text-align: center;
}

.luz
{
    color: rgb(208, 193, 82);
    --bar-background-active: rgb(208, 193, 82);
}

.aire
{
    color: rgb(31, 167, 216);
    --bar-background-active: rgb(31, 167, 216);
}

.cortina_texto
{
    font-weight: bold;
    margin-bottom: 10%;
    font-size: 150%;
}

.texto
{
    font-weight: bold;
    font-size: 150%;
}

.boton_cortina
{
    --indicator-color: rgb(164, 96, 223);
}

.boton_emergencia
{
    margin-top: 10%;
    margin-bottom: 10%;
    width: 90%; 
    height: 130px; 
    text-align: center;
    font-size: 150%;
    font-weight: bold;
    --background-hover: var(--background);
}


