.centrado{
    text-align: center;
  }

.boton_dispositivo{
    width: 130px; 
    height: 130px; 
}

.boton_cortina{
    margin-top: 20px;
    width: 300px; 
    height: 130px; 
}

.titulos{
    font-weight: bold;
}

.iconos{
    image-rendering: auto;
}

.cortina
{
    width: 150%;
    height: auto;
}

.flechas{
    font-size: 300%;
}

.boton_flecha
{
    
}
