.centrado{
    text-align: center;
  }

.boton_dispositivo{ //caracteristicas de los botones de luz/aire
    width: 130px; 
    height: 130px; 
}

.boton_cortina{
    margin-top: 20px;
    width: 300px; 
    height: 130px; 
}

.titulos{
    font-weight: bold;
    margin-left: 5%;
}

.iconos{
    image-rendering: auto;
}

.cortina
{
    width: 100px;
    height: auto;
}

.flechas{
    font-size: 300%;
}

.boton_flecha
{
    margin-top: 20px;
}
